{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>{{ 'search_title' | trans }}</h1>
            {{ form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if contributors.contributors is defined %}
                {{ sonata_block_render({ 'type': 'gitcon.recent_search_block' }, {
                    'contributors': contributors.contributors
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
