{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'recent_recent' | trans }}</h1>
    {% for search in recentSearches %}
        <div>
            <h2>
                {{ search.header.time | date ('Y-m-d') }}
                {{ search.header.repository }}
            </h2>

            {{ sonata_block_render({ 'type': 'gitcon.recent_search_block' }, {
                'contributors': search.contributors
            }) }}
        </div>
    {% endfor %}

{% endblock %}
