<div class="list-group">
    {% for contributor in contributors %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ contributor.avatarUrl }}" style="width: 50px;">
                </div>
                <div class="col-md-10">
                    <h4>{{ contributor.name }}</h4>
                    {{ 'no_of_contrib' | trans }}: {{ contributor.contributions }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
